body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #121212;
  color: white;
}

.navbar {
  background-color: #1f1f1f;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-name {
  margin: 0;
}

.navbar a {
  color: #61dafb;
  text-decoration: none;
  margin-left: 10px;
}

.navbar a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.card {
  background-color: #1e1e1e;
  padding: 30px;
  width: 400px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 15px 0;
  object-fit: cover;
}

.list {
  text-align: left;
  padding-left: 20px;
}

.loading {
  text-align: center;
  margin-top: 100px;
}