.app {
  height: 100vh;
  width: 100em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  transition: all 0.3s ease;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #121212;
  color: #ffffff;
}

button {
  padding: 10px 20px;
  margin-top: 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

body{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}